.root
  .container.fixed-width
    .row.spacing8
      .col-md-4.py-1.px-8
        |
        |
        i.icon.ion-ios-world
        |
        |
        .divider
        h5.use-text-subtitle #{$t.fashion_landing.feature_title1}
        p.use-text-paragraph #{$t.fashion_landing.feature_desc1}
      .col-md-4.py-1.px-8
        |
        |
        i.icon.ion-ribbon-b
        |
        |
        .divider
        h5.use-text-subtitle #{$t.fashion_landing.feature_title2}
        p.use-text-paragraph #{$t.fashion_landing.feature_desc2}
      .col-md-4.py-1.px-8
        |
        |
        i.icon.ion-android-sync
        |
        |
        .divider
        h5.use-text-subtitle #{$t.fashion_landing.feature_title3}
        p.use-text-paragraph #{$t.fashion_landing.feature_desc3}
