.root
  .hidden-xs-down
    .grid-25
      |
      |
      img(src=imgAPI.fashion[8] alt='trending')/
      |
      |
      a.overlay.waves-effect(href="javascript:void(0)")
        h5.headline Autumn Show
      |
      |
    .grid-50
      |
      |
      img(src=imgAPI.fashion[9] alt='trending')/
      |
      |
      a.overlay.waves-effect(href="javascript:void(0)")
        h5.headline New Trending
        h3.display-2 2020
      |
      |
    .grid-25
      |
      |
      img(src=imgAPI.fashion[10] alt='trending')/
      |
      |
      a.overlay.waves-effect(href="javascript:void(0)")
        h5.headline Man Collection
      |
      |
  .hidden-sm-up
    .slick-carousel#trending_carousel
      .item
        .grid-25
          |
          |
          img(src=imgAPI.fashion[8] alt='trending')/
          |
          |
          a.overlay.waves-effect(href="javascript:void(0)")
            h5.headline Autumn Show
          |
          |
      .item
        .grid-50
          |
          |
          img(src=imgAPI.fashion[9] alt='trending')/
          |
          |
          a.overlay.waves-effect(href="javascript:void(0)")
            h5.headline New Trending
            h3.display-2 2020
          |
          |
      .item
        .grid-25
          |
          |
          img(src=imgAPI.fashion[10] alt='trending')/
          |
          |
          a.overlay.waves-effect(href="javascript:void(0)")
            h5.headline Man Collection
          |
          |
